.header__menu-message {
  display: none;
  flex-direction: column;
  gap: 16px;
  height: 100vh;

  padding: 40px 32px 0 32px;

  z-index: 4;
  @media (max-width: 767px) {
    width: 100%;
    padding: 24px 16px;
  }

  @media (min-width: 768px) {
    width: 440px;
  }

  position: fixed;
  right: 0;
  top: 0;

  // @media (min-width: 1366px) {
  //   top: 88px;
  // }

  background: #fff;
  border-left: 1px solid #d9fff5;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);

  transition-property: right;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.menu-message__title {
  display: flex;
  padding-bottom: 8px;
  @media (max-width: 767px) {
    flex-direction: column;
    gap: 40px;
    // gap: 10px;


  }
}

.title__img {
  position: absolute;
  left: -88px;
  top: 33px;
  @media (max-width: 767px) {
    position: relative;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
  }
}

.title__text {
  color: #1b1c21;

  font-family: "TTLakes-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.6px;
}

.title__text::before {
  content: url("/assets/svg/highlight2.svg");
  position: absolute;
  left: 0px;
  top: 33px;
  @media (max-width: 767px) {
    
    left: 0;
    top: 98px;
  }
}

.input-size {
  height: 48px;
  border-radius: 8px;
  border: 1px solid #eaeaea;

  padding: 12px 16px;

  font-family: "TTLakes-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}

.menu-message__input-message {
  display: inline-flex;
  height: 118px;
  width: 300px;

  border-radius: 8px;
  border: 1px solid #eaeaea;

  padding: 12px 16px;


  flex-wrap: nowrap;

  font-family: "TTLakes-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}

.menu__area-blurr {
  display: none;
  position: fixed;
  background-color: #fff;
  opacity: 0.9;
  width: 100%;
  min-height: 100vh;
  left: 0px;
  top: 0;
  z-index: 3;

  @media (min-width: 1366px) {
    display: none;
    // z-index: 3;
  }
}

.menu-message__text {
  color: #7e7e82;

  font-family: "TTLakes-Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
}

.menu-message__text-link {
  color: #ff3e79;
}

.menu-message__btn {
  width: 136px;
  height: 32px;
  align-self: flex-end;
  border-radius: 16px;
  border: none;
  background: #ff3e79;

  color: #fff;
}
