@import "../../list";

.brands__list {
  display: none;
  flex-direction: column;
  align-items: start;
  gap: 24px;

  @media (min-width: 768px) {
    display: flex;
    
    margin-bottom: 32px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 50px;
  }
}

.brands-wrapper {
  display: grid;
  overflow: hidden;
  justify-content: space-between;
  justify-items: center;
  gap: 24px 16px;
  width: 100%;

  grid-template-columns: repeat(3, 224px);

  @media (min-width: 1120px) {
    grid-template-columns: repeat(4, 224px);
  }
}

.brands-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 10px;

  width: 224px;
  height: 72px;
  border-radius: 6px;
  border: 1px solid #eaeaea;

  background: #fff;

  padding: 16px;

  @media (min-width: 1020px) {
    width: 240px;
  }
}

.name-brands__img {
  max-width: 108px;
}

.brands-button {
  width: fit-content;
  color: #1b1c21;
  font-family: TTLakes-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  // @extend %button;
  border: none;
  background: none;
}
