@import "header/header.scss";
@import "main/main.scss";


html {
  font-size: 16px;
  font-style: normal;
  font-family: TTLakes-Regular;
  background-color: #f8f8f8;
  overflow-y: scroll;
}

img {
  vertical-align: middle;
}


