html {
  font-size: 16px;
  font-style: normal;
  font-family: TTLakes-Regular;
  background-color: #f8f8f8;
  overflow-y: scroll;
}

img {
  vertical-align: middle;
}

/*-------------------------------------------------------
--------------------------------------------------------- 
                            HEADER
---------------------------------------------------------
 --------------------------------------------------------*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #d9fff5;

  background-color: #fff;

  height: 88px;
  padding: 24px 16px 24px 16px;
  margin: 0 auto 24px;
}

/*----------------------------- 
             Header menu
 ------------------------------*/

.header__menu {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 16px;
}

/*----------------------------- 
             menu__sidebar
 ------------------------------*/

.menu__sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  top: 0;
  width: 320px;
  left: -330px;
  height: 720px;
  padding: 24px 24px 32px 24px;

  background-color: #fff;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  z-index: 1;

  cursor: none;

  transition-property: left;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

#menu__moving:checked~.menu__sidebar {
  cursor: auto;
  left: 0;
}

.sidebar__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 40px;
  height: 40px;

  margin-bottom: 57px;
}

.sidebar__img-group {
  width: 97px;
  height: 51px;

  margin-right: 78px;
}

.sidebar__menu-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;

  color: #1b1c21;

  font-family: TTLakes-Medium;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-wrap: nowrap;

  padding-bottom: 40px;
}

.sidebar__communications-list {
  display: flex;
  gap: 16px;

  padding-bottom: 16px;
}

.menu-list__link {
  color: #1b1c21;
}

.menu-list__link:hover {
  transition-duration: 0.5s;
  color: #7e7e82;
}

.menu-list__link-active {
  color: #7e7e82;
}

.menu-list__link-active::before {
  content: url("../assets/img/highlight.svg");
  position: absolute;
  left: -24px;
  top: -5px;

  /* width: 6px;
  height: 40px;
  flex-shrink: 0;
  background-color: #41f6d7;
  border-radius: 0 10px 10px 0; */
}

.sidebar__contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding-bottom: 40px;
}

.contacts__mail {
  color: #1b1c21;

  font-family: TTLakes-Medium;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.contacts__phone {
  color: #1b1c21;

  font-family: TTLakes-Bold;
  font-size: 24px;
  font-style: normal;
  line-height: 32px;
  letter-spacing: -0.6px;
}

.sidebar__langs {
  display: flex;
  gap: 7px;

  color: #1b1c21;

  font-family: TTLakes-Medium;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.menu__divider {
  display: none;
}

/*----------------------------- 
             Header logo
 ------------------------------*/

.header__logo {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-right: auto;
}

.divider {
  width: 2px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #eaeaea;
}

/*----------------------------- 
    Header communications-list
 ------------------------------*/

.header__communications-list {
  display: none;
}

/*----------------------------- 
    Header service-list
 ------------------------------*/

.header__service-list {
  display: flex;
  gap: 16px;
}

/*-------------------------------------------------------
--------------------------------------------------------- 
                            MAIN
---------------------------------------------------------
 --------------------------------------------------------*/
.main {
  padding: 0 16px;
}

/*----------------------------- 
         main title
 ------------------------------*/

.main__title {
  color: #1b1c21;
  font-family: TTLakes-Bold;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
  margin-bottom: 24px;
}

.main__title::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 6px;
  height: 40px;
  flex-shrink: 0;
  background-color: #41f6d7;
  border-radius: 0 10px 10px 0;
}

/*----------------------------- 
    Header service-panel
 ------------------------------*/

.main__services-panel {
  font-family: TTLakes-Medium;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  margin-bottom: 24px;
}

.main__services-panel::-webkit-scrollbar {
  display: none;
}

.services-panel__item {
  padding: 8px 16px 8px 16px;
}

.services-panel__item:last-child {
  padding-right: 0;
}

.services-panel__item-active {
  border-radius: 6px;
  border: 2px solid #b8ffec;
  background: #fff;
}

.services-panel__link {
  white-space: nowrap;
  color: #7e7e82;
}

/*----------------------------- 
         main content-text
 ------------------------------*/

.main__content {
  display: flex;
  flex-direction: column;
}

.main__content-text-block {
  flex-grow: 1;
  flex-basis: 0;
}

.main__content-text {
  color: #1b1c21;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
}

.main__content-expand-text {
  display: flex;
  margin-right: auto;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.main__content-expand-img {
  width: 24px;
  height: 24px;
}

.main__content-expand-title {
  color: #1b1c21;
  font-family: TTLakes-Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

/*----------------------------- 
         main content-img
 ------------------------------*/

.main__content-img-block {
  flex-grow: 1;
  flex-basis: 0;
}

.main__content__img-block {
  width: 50%;
  margin-bottom: 24px;
}

.main__content-img {
  min-width: 100%;
  max-width: 400px;
  border-radius: 6px;
}

/*----------------------------- 
         main repair
 ------------------------------*/
.main__repair {}


.repair__title-block {
  position: relative;
  display: flex;
  align-items: center;

  height: 56px;

  padding-right: 16px;
  margin-bottom: 16px;
}

.repair__title {
  color: #7e7e82;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

/*---------------------------------------
         main repair__brands swiper
 -----------------------------------------*/

.repair__brands-swiper {
  position: relative;
  // display: flex;
  // min-width: 260px;
  // max-width: 330px; 
  width: 330px;
  height: 110px;
  overflow: hidden;
  margin: auto;
  z-index: 0;
}

.repair__wrapper {
  margin: 100;
  padding: 0;
}

.repair__slide {
  width: 240px !important; //hack
}

.repair__slide img {
  width: 100%;
  width: 205px;
  height: auto;
}

.repair__pagination {
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;

  --swiper-pagination-color: #B5B6BC;
  --swiper-pagination-bullet-inactive-color: #96969b;
}

.repair__brands {
  display: block;
}
