@media (min-width: 768px) {
    .header {
        padding: 24px;
    }

    .menu__divider {
        display: block;
    }

    .logo__divider {
        display: none;
    }

    .header__communications-list {
        display: flex;
        gap: 16px;
    }
    .communications-list__item {
        display: flex;
        align-items: center;
    }
    
    .communications-list__item-last {
        margin-right: 20px;
    }

    .main {
        padding: 0 24px;
    }

    .main__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        

    }

    .repair__brands {
        display: flex;
    }

    .repair__brands-swiper {
        display: none;
    }
}

@media (min-width: 1020px) {
    .header {
        padding: 32px;
    }

    .main {
        padding: 0 32px;
    }

    .brands-wrapper {
    grid-template-columns: repeat(4, 224px);
    }

    .brands-slide {
        width: 240px;
    }

}