*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// button::-moz-focus-inner,
// input::-moz-focus-inner {
//   border: 0;
//   padding: 0;
// }

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	
}

