.devices__title-block {
    position: relative;
    display: flex;
    align-items: center;
  
    height: 56px;
  
    padding-right: 16px;
    margin-bottom: 16px;
  }
  
  .devices__title {
    color: #7e7e82;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
  }